# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
artifacts/
cache/
typechain-types/
fhevmTemp/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Editor
.vscode/
.idea/
.DS_Store

# Hardhat
deployments/

# Next.js
.next/
next-env.d.ts
